<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolor officiis 
        vitae perspiciatis, facere debitis fugit minima! Obcaecati, iusto quibusdam?
    </p>
    <footer class="media">
        <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#line"></use>
            </svg>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Mark Smith</h3>
            <p class="quote__company">
                CEO, Abcd Limited
            </p>
        </div>
    </footer>
</blockquote>